/******************* PHONE *******************/
body {
    background-color:#f3f2eb;
}

h1 {
    color: gray;
    font-size: 430%;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    letter-spacing: 10px;
    font-weight: 100;
    text-transform: uppercase;
    padding-top: 10%;
    padding-right: 5%;
}

h2 {
    text-align: right;
    padding-right: 7%;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 8px;
    font-size: 200%;
}

ul {
    margin-top: 130px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
}


a {
    display: block;
    color: gray;
    text-decoration: none;
    text-align: center;
    padding-bottom: 20px;
}

a:hover {
    color: #ffafcc;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.logoTitle {
    display: none;
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    padding: 0%;
    margin: 0;
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}


/******************* TABLET *******************/
@media only screen and (min-width:42em) {

    .grid {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    h1 {
        font-size: 350%;
        text-align: center;
    }

    h2 {
        text-align: right;
        margin-right: 100px;
    }

}


/******************* DESKTOP *******************/
@media only screen and (min-width:55em) {

    body {
        overflow: hidden;
    }


    h1 {
        font-size: 530%;
        text-align: right;
        letter-spacing: 10px;
        padding-top: 10%;
        padding-right: 10%;
    }

    h2 {
        padding-right: 4%;
        font-size: 300%;
    }

    .grid {
        display: inline-block;
    }

    ul {
        margin-left: 2%;
    }

    a {
        float: left;
    }

    a {
        display: block;
        padding: 20px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        padding-left: 5%;
    }

    .dots {
        z-index: -2;
        width: 70%;
        left: -15%;
        top: 25%;
        margin-top: -32%;
        margin-left: -8%;
        position: absolute;
        transform: rotate(-155deg);
    }

    .laptop {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 30%;
        margin-top: 12%;
        z-index: -1;
    }
}